
:root {
    --canvas-height: 100vh; 
    --appbar-height: 56px; 
    --footer-height: 48px;
    --drawer-width: 180px;
    --body-height: calc(var(--canvas-height) - var(--appbar-height) - var(--footer-height));
}

html {
  scroll-padding-top: var(--appbar-height);
}

.App {
  #text-align: center;
  overflow-wrap: break-word;
  overflow: hidden;
}

.Head {
  overflow: hidden;
}

.SideBar {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(var(--canvas-height) - var(--appbar-height) - var(--footer-height));
  width: var(--drawer-width);
}

.Body {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(var(--canvas-height) - var(--appbar-height) - var(--footer-height));
  width: calc(100vw - var(--drawer-width));
}


.LeftFoot {
  width: var(--drawer-width);
}
.RightFoot {
  width: calc(100vw - var(--drawer-width));
}
