
:root {
    --canvas-height: 100vh; 
    --appbar-height: 56px; 
    --footer-height: 48px;
    --drawer-width: 180px;

}

html {
  scroll-padding-top: var(--appbar-height);
}

.App {
  text-align: center;
}

.Head {
  overflow: hidden;
}

.SideBar {
  overflow: scroll;
  height: calc(var(--canvas-height) - var(--appbar-height) - var(--footer-height));
  width: var(--drawer-width);
}

.Body {
  overflow: scroll;
  height: calc(var(--canvas-height) - var(--appbar-height) - var(--footer-height));
  width: calc(100% - var(--drawer-width));
}

.Foot {
}
